body {
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	color: #666666;
	vertical-align: top;
	margin: 0;
}

.main-container {
	width: 1005px;
	margin: 0 auto;
}

.create-new-image {
	width: 983px;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 1px solid #dcdcdc;
}

.input-view {
	width: 983px;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
	position: relative;
	border: 1px solid #dcdcdc;

	& img {width: 100%;}

	& .caption {
			position: absolute;
			bottom: 42px;
			background: rgba(200, 200, 200, 0.5);
			padding: 6px;
			margin: 0;
			width: 971px;
			color: #2E2E2E;
	}
}

.gallery-view {
	width: 983px;
	padding: 10px;
	margin: 0 auto;
	display: inline-block;
	border: 1px solid #dcdcdc;
	
	& .single-photo {
		width: 33.333333%;
		min-height: 300px;
		overflow: hidden;
		position: relative;
		vertical-align: top;
		display: inline-block;
		
		& img {
			position: absolute;
    	margin: auto;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
		}

		& .caption {
			position: absolute;
			bottom: 0;
			background: rgba(200, 200, 200, 0.5);
			padding: 6px;	
			width: 96.3%;
			color: #2E2E2E;
		}
	}
}

.button {
	box-shadow: inset 0px 0px 1px 0px #ffffff;
	background-color: #f9f9f9;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #666666;
	height: 12px;
	line-height: 12px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
	padding: 4px;
	margin: 2px;

	&:hover {background-color:#e9e9e9;}

	&:active {
		position:relative;
		top:1px;
	}
}

input {
	background-color: #f9f9f9;
	height: 16px;
	width: 375px;
	padding: 4px;
	margin: 2px;
	border: 1px solid #dcdcdc;

	&.changed {background: #ffcccc;}
}

h2 {
	text-align: left;
	margin: 8px;
}
